@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
body {
  background: #222222 url(../images/cartographer.png);
  font-family: Chalkboard, Helvetica, Arial, sans-serif;
  color: #d8f2c0;
}

header, footer {
  font-family: Chalkduster, Finger Paint, cursive;
  color: #a9e472;
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  display: inline-block;
  font-size: 2em;
}
.tagline {
  font-size: 1em;
}

@media only screen and (max-width: 760px) {
  .tagline {
    display: none;
  }
  header {
    text-align: left;
  }
  h1 {
    margin: 0;
    font-size: 1em;
  }
}

canvas {
    border: #800040 solid 5px;
    background: azure;
}

a {
    color: #a9e472;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
}
.controls {
    flex: 10;
}
.controls .primary img, .controls .secondary img {
    width: 4em;
    border: #800040 solid 5px;
    background: #800040; 
}
.controls .secondary {
    display: none;
}
.controls .secondary span {
    background: #800040;
}
.controls .secondary .submenu {
    display: none;
}

.under {
  padding: 5em;
}

.page-top {
  display: block;
  min-height: 100%;
  padding-bottom: 2em;
}
